/*Pearly- Nav Bar*/
#landingNav {
  padding-top: 10px;
  padding-left: 5px;
}

/*Zoey-Call To Action*/
.login_btn {
  height: auto;
  width: auto;
  font-weight: bold;
  font-family: Helvetica;
  background-color: #e1ae17;
  color: white;
  font-weight: bold;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 15px;
}
.signup_btn {
  height: auto;
  width: auto;
  background-color: #2e394f;
  color: white;
  font-weight: bold;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 15px;
}
.cta_btn {
  font-family: Helvetica;
  background-color: #e1ae17;
  color: white;
  font-weight: bold;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.signup_btn:hover,
.cta_btn:hover {
  background-color: #d0672d;
}
.login_btn:hover {
  color: white;
  background-color: #d0672d;
}
.login_btn:active,
.cta_btn:active,
.signup_btn:active {
  color: white;
  background-color: #aa5632;
}
.search {
  width: auto;
  height: 67px;
  font-weight: bold;
  color: #2e394f;
  border: 2px solid;
  border-color: #eceaea;
  border-radius: 7px;
}
.no-scrollbar::-webkit-scrollbar {
      display: none;
    }

/*Kanon - Navbars*/
#landing_footer {
  background-color: #2e394f;
  color: lightgray;
  font-family: Helvetica;
  font-size: 14px;
  text-align: center;
}
#landing_footer h1 {
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid white;
}
#landing_footer div h1 {
  font-size: 16px;
  border: none;
}

#footer_navbar {
  background-color: #2e394f;
  color: white;
  font-size: 12px;
  text-align: center;
}
#footer_navbar img {
  filter: invert(1);
  width: 10vw;
  height: auto;
  max-height: 25px;
}

#header_navbar {
  background-color: white;
  color: black;
  box-shadow: 0px 5px 5px #0000002b;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
#name_goes_here {
  text-decoration: underline;
}

/* #event_card {
} */
#event_card_info {
  background-color: white;
}

.gaming_bg {
  background-image: url(https://media.wired.com/photos/61f48f02d0e55ccbebd52d15/3:2/w_2400,h_1600,c_limit/Gear-Rant-Game-Family-Plans-1334436001.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.event_card img {
  height: 170px;
  object-fit: cover;
}

/* Pearly's Stars for Event Review */
#starContainer img {
  width: 60px;
}

#reviewContainer {
  max-width: 100%;
}

#reviewEvent p {
  font-size: 16px;
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
